---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "SESSR bridges the gap between clinical bio-hacking and luxury skincare." } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/sessr_symbol_minimal.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	</head>
	<body>
		<slot />
	</body>
</html>
